### **Required Libraries**

In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [33]:
data = pd.read_csv('Maternal Health Risk Data Set.csv',encoding='utf-8')
data.head()

   Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
0   25         130           80  15.0      98.0         86  high risk
1   35         140           90  13.0      98.0         70  high risk
2   29          90           70   8.0     100.0         80  high risk
3   30         140           85   7.0      98.0         70  high risk
4   35         120           60   6.1      98.0         76   low risk

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1014 entries, 0 to 1013
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          1014 non-null   int64
 1   SystolicBP   1014 non-null   int64
 2   DiastolicBP  1014 non-null   int64
 3   BS           1014 non-null   float64
 4   BodyTemp     1014 non-null   float64
 5   HeartRate    1014 non-null   int64
 6   RiskLevel    1014 non-null   object
dtypes: float64(2), int64(4), object(1)
memory usage: 55.6+ KB

In [35]:
data.duplicated().sum()

np.int64(562)

In [36]:
data[data.duplicated(keep='first')]

      Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
67     19         120           80   7.0      98.0         70   mid risk
72     19         120           80   7.0      98.0         70   mid risk
97     19         120           80   7.0      98.0         70   mid risk
106    50         140           90  15.0      98.0         90  high risk
107    25         140          100   6.8      98.0         80  high risk
...   ...         ...          ...   ...       ...        ...        ...
1009   22         120           60  15.0      98.0         80  high risk
1010   55         120           90  18.0      98.0         60  high risk
1011   35          85           60  19.0      98.0         86  high risk
1012   43         120           90  18.0      98.0         70  high risk
1013   32         120           65   6.0     101.0         76   mid risk

[562 rows x 7 columns]

In [37]:
data.describe()

,Age,SystolicBP,DiastolicBP,BS,BodyTemp,HeartRate
count,1014.000000,1014.000000,1014.000000,1014.000000,1014.000000,1014.000000
mean,29.871795,113.198225,76.460552,8.725986,98.665089,74.301775
std,13.474386,18.403913,13.885796,3.293532,1.371384,8.088702
min,10.000000,70.000000,49.000000,6.000000,98.000000,7.000000
25%,19.000000,100.000000,65.000000,6.900000,98.000000,70.000000
50%,26.000000,120.000000,80.000000,7.500000,98.000000,76.000000
75%,39.000000,120.000000,90.000000,8.000000,98.000000,80.000000
max,70.000000,160.000000,100.000000,19.000000,103.000000,90.000000

In [38]:
data[data.Age > 60]

     Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
114   63         140           90  15.0      98.0         90  high risk
313   62         120           80   6.9      98.0         66   low risk
322   65          90           60   6.9      98.0         70   low risk
326   66          85           60   6.9      98.0         86   low risk
338   70          85           60   6.9     102.0         70   low risk
339   65         120           90   6.9     103.0         76   low risk
435   65         130           80  15.0      98.0         86  high risk
502   63         140           90  15.0      98.0         90  high risk

In [39]:
data[data["Age"] < 13]

      Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
19     10          70           50   6.9      98.0         70   low risk
35     12          95           60   6.1     102.0         60   low risk
62     12          95           60   7.2      98.0         77   low risk
82     12          95           60   6.9      98.0         65   mid risk
148    12          95           60   6.7      98.0         77   low risk
155    12          95           60   7.5      98.0         65   low risk
171    12          90           60   7.9     102.0         66  high risk
180    12          95           60   6.1     102.0         60   low risk
244    12          95           60   7.2      98.0         77   low risk
250    10          85           65   6.9      98.0         70   low risk
251    12          95           60   6.9      98.0         65   low risk
267    12          90           60   8.0     102.0         66  high risk
276    12          90           60  11.0     102.0         60  high risk
306    12         120           95   6.9      98.0         60   low risk
321    12         120           80   6.9      98.0         80   low risk
344    12          95           60   6.9      98.0         77   low risk
351    12          95           60   6.9      98.0         65   mid risk
371    12          90           60   7.8     102.0         60  high risk
401    12         120           95   7.8      98.0         60   low risk
408    12         120           95   6.8      98.0         60   mid risk
418    12         120           90   6.8      98.0         80   mid risk
543    12          90           60   7.5     102.0         66   low risk
552    12          90           60   7.5     102.0         60   low risk
588    12          90           60   7.5     102.0         66   mid risk
670    10         100           50   6.0      99.0         70   mid risk
673    12         100           50   6.4      98.0         70   mid risk
704    12         100           50   6.0      98.0         70   mid risk
763    12          95           60   6.9      98.0         65   mid risk
783    12         120           95   6.8      98.0         60   mid risk
790    12         120           90   6.8      98.0         80   mid risk
827    12          90           60   7.5     102.0         66   mid risk
849    10         100           50   6.0      99.0         70   mid risk
850    12         100           50   6.4      98.0         70   mid risk
851    12         100           50   6.0      98.0         70   mid risk
934    12          90           60   7.5     102.0         66   low risk
940    12          90           60   7.5     102.0         60   low risk
963    12          90           60   7.9     102.0         66  high risk
996    12          90           60   8.0     102.0         66  high risk
1000   12          90           60  11.0     102.0         60  high risk

In [40]:
data[data["Age"] < 13].shape

(39, 7)

In [41]:
data["BodyTemp"].value_counts()

BodyTemp
98.0     804
101.0     98
102.0     66
100.0     20
103.0     13
99.0      10
98.4       2
98.6       1
Name: count, dtype: int64

## **Data Cleaninng**

In [42]:
df = data.copy()

In [43]:
df = df.drop_duplicates().reset_index(drop=True)

In [44]:
df.shape

(452, 7)

In [46]:
df['HeartRate'].unique()

array([86, 70, 80, 76, 78, 77, 88, 90, 66, 82, 60, 75, 67, 65, 68,  7])

In [47]:
df.HeartRate.mode()

0    70
Name: HeartRate, dtype: int64

In [48]:
df.loc[df.HeartRate == 7, "HeartRate"] = 70

In [50]:
df['HeartRate'].unique()

array([86, 70, 80, 76, 78, 77, 88, 90, 66, 82, 60, 75, 67, 65, 68])

In [51]:
df.RiskLevel.unique()

array(['high risk', 'low risk', 'mid risk'], dtype=object)

In [52]:
df.replace({"high risk":2, "mid risk":1, "low risk":0}, inplace=True)
df.head()

C:\Users\ROG\AppData\Local\Temp\ipykernel_12156\247815498.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace({"high risk":2, "mid risk":1, "low risk":0}, inplace=True)

   Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
0   25         130           80  15.0      98.0         86          2
1   35         140           90  13.0      98.0         70          2
2   29          90           70   8.0     100.0         80          2
3   30         140           85   7.0      98.0         70          2
4   35         120           60   6.1      98.0         76          0

In [53]:
df["RiskLevel"].value_counts()

RiskLevel
0    234
2    112
1    106
Name: count, dtype: int64

## **EDA**